/* ----------------------------------------------------*/
/* ABOUT*/
/* ----------------------------------------------------*/

@media only screen and (max-width: 1260px) {

    .about-text p {
        font-size: 90%;      
      }


}

@media only screen and (max-width: 480px) {

    .about-text {
        padding-top: 0;
        padding-right: 5%;
        padding-left: 5%;
      }


}

/* ----------------------------------------------------*/
/* EDUCATION*/
/* ----------------------------------------------------*/

@media only screen and (max-width: 330px) {

    .timeline h2 {
        font-size: 140%;
    }

    .timeline p {
        font-size: 90%;
    }

    .timeline i {
        font-size: 90%;
    }

    .timeline li {
        font-size: 80%;
    }


}

/* ----------------------------------------------------*/
/* PROJECTS*/
/* ----------------------------------------------------*/

@media only screen and (max-width: 1200px) {


    .proj-item {
        height: 400px;
      }


}

@media only screen and (max-width: 1100px) {


    .proj-item {
        height: 350px;
      }


}

@media only screen and (max-width: 900px) {


    .proj-item {
        margin: 5px;
      }

    .proj-item h3 {
        font-size: 90%;
    }  

    .proj-item p {
        font-size: 85%;
    }  


}

@media only screen and (max-width: 815px) {

    .proj-item {
        height: 300px;
    }

}

@media only screen and (max-width: 650px) {
	.projects span-3-of-3 {
		width: 100%; 
	}
	.projects span-2-of-3 {
		width: 100%; 
	}
	.projects .span-1-of-3 {
		width: 100%;
    }
    
    .proj-item {
        height: 450px;
    }
}

@media only screen and (max-width: 500px) {

    .proj-item {
        height: 400px;
    }

    .list-awards {
        font-size: 100%;
      }
}

@media only screen and (max-width: 400px) {

    .proj-item {
        height: 350px;
    }
}

/* ----------------------------------------------------*/
/* SKILLS*/
/* ----------------------------------------------------*/


/* Fix TECHNICAL SKILLS <= 1305 width */
@media only screen and (max-width: 1305px) {

    .skills {
        padding: 100px 0;
    }

    .skills ul {
        
        width: 80%;
        margin: 0 20% 0 0;
    }
}

/* Fix TECHNICAL SKILLS <= 810 width */
@media only screen and (max-width: 830px) {

    .skills ul {
        
        width: 70%;
        margin: 0 15%;
    }

    .dot {
        height: 15px;
        width: 15px;
    }

    .skills h3 {
        font-size: 95%;
    }

}

/* Fix TECHNICAL SKILLS <= 700 width */
@media only screen and (max-width: 700px) {

    .title h2 {
        font-size: 170%;
    }   
    
    .type h2 {
        font-size: 130%;
    }



    .skills h3 {
        font-size: 90%;
    }
}

/* Fix TECHNICAL SKILLS <= 590 width */
@media only screen and (max-width: 590px) {


    .skills ul {
        
        width: 90%;
        margin: 0 5%;
    }
}

/* Fix TECHNICAL SKILLS <= 435 width */
@media only screen and (max-width: 435px) {

    .dot {
        height: 12px;
        width: 12px;
    }

    .skills ul {
        
        width: 96%;
        margin: 0 2%;
    }
}

/* Fix TECHNICAL SKILLS <= 380 width */
@media only screen and (max-width: 380px) {

    .skills h3 {
        font-size: 70%;
    }

    .title h2 {
        font-size: 150%;
    }   
    
    .type h2 {
        font-size: 110%;
    }
}

/* Fix TECHNICAL SKILLS <= 338 width */
@media only screen and (max-width: 338px) {

    .skills h3 {
        font-size: 60%;
    }

    .dot {
        height: 10px;
        width: 10px;
    }
}

/* ----------------------------------------------------*/
/* AWARDS*/
/* ----------------------------------------------------*/


@media only screen and (max-width: 885px) {

    .list-awards li {
        margin: 40px 0;
      }


}

/* ----------------------------------------------------*/
/* AWARDS*/
/* ----------------------------------------------------*/

@media only screen and (max-width: 480px) {

    .contact-info {
        float: left;
    }

    .footer-info li,
    .contact-info li {
        margin-bottom: 15px;
    }

    

}

@media only screen and (max-width: 480px) {

    .footer-info li,
    .contact-info li {
        margin-bottom: 15px;
    }

}    